*{
font-family: "montserrat",sans-serif;
}

body{
margin: 0;
padding: 0;
background: #7bed9f;
}

.login-box{
position: absolute;
top: 0;
left: -100%;
width: 100%;
height: 100vh;
transition: 0.4s;
}

.login-bg{
width: 100%;
height: 100vh;
background-image: radial-gradient(circle at bottom left,#ffffff 0%,#f1f2f6 69%,#2f3542 70%,#7bed9f 70%);

}
.login-form{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
padding: 50px;
text-align: center;
}

.login-form h1{
font-weight: 400;
margin-top: 0;
}

.txtb{
margin-left: auto;
margin-right: auto;
display: block;
box-sizing: border-box;
width: 240px;
background: #dfe4ea;
border: 1px solid black;
padding: 10px 20px;
color: #2f3542;
outline: 0;
margin: 10px 0;
border-radius: 4px;
box-shadow: 1px 1px #2f3542;
transition: 0.4s;
}

.txtb:hover{
  width: 250px;
  height: 50px;
  transition: 0.4s;
  font-size: medium;
}

.login-btn{
  width: 210px;
  height: 25px;
  background: #a4b0be;
  border: 1px solid black;
  border-radius: 4px;
  box-shadow: 1px 1px #2f3542;
  box-sizing: border-box;
}

.box-login{
  position: absolute;
  top: 0;
  right: 0;

}

.come-login-btn{
  position: absolute;
  top: 0;
  right: 15px;
  cursor: pointer;
}

.hide-login-btn{
  position: absolute;
  top:0;
  right: 15px;
  cursor:pointer;
  opacity:.7;
}

.hide-login-btn:hover{
  opacity: 1;
}


.showed{
  left:0;
}
